@page "/counter" 
@page "/counter1/{currentCount}"

<h1>Counter</h1>

<p>Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {
    private int currentCount { get; set; } = 0;
    private int current { get; set; } = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
}
