
@page "/Recursos/ListadoDeRecursos"
@using BlazorApp1.Data
@inject RecursosService RecursoSer
@inject NavigationManager navigation
@inject IJSRuntime JsRuntime

<h3>Listado De Recursos</h3>

<button class="btn" @onclick="()=>Editar(0)">Nuevo Recurso</button>

@if (Recursos == null)
{

}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Usuario</th>

                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Recursos)
            {
                <tr>
                    <td>@item.Nombre</td>
                    <td>@item.Usuario.Nombre</td>

                    <td><button class="btn" @onclick="()=>Editar(item.Id)">Editar</button> <button class="btn" @onclick="()=>Borrar(item.Id)">Borrar</button></td>
                </tr>
            }
        </tbody>
    </table>

}



@code {
    /*
   private List<Recursos> Recursos;
   protected override async Task OnInitializedAsync()
   {
       Recursos = Recurso.getRecursos();
   }
*/

    private List<Recursos> Recursos;

    protected override async Task OnInitializedAsync()
    {
     //   Recursos = await RecursoSer.GetAll();
    }

    protected void Editar(int id)
    {
        navigation.NavigateTo("/Recursos/EditarRecurso/" + id);
    }

    async Task Borrar(int id)
    {
        bool confirmed = await JsRuntime.InvokeAsync<bool>("confirm", "Desea eliminar el recurso?");
        if (confirmed)
        {
            await RecursoSer.Remove(id);
           // Recursos = await RecursoSer.GetAll();
        }
    }



}
